@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #040027;
  color: #fff;
  max-width: 100vw;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

.carousel-indicators {
  bottom: -55px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-indicators [data-bs-target].active {
  background-color: #1d87e5;
}

#top-section {
  background-image: url("../images/top-bg.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 96vh;
}

@media (max-width: 992px) {
  #top-section {
    background-size: 50%;
    height: auto;
  }
}

#top-section #nav {
  padding: 30px 50px;
  z-index: 9999;
}

#top-section #nav a {
  color: #fff;
  font-size: 15px;
}

#top-section #nav a.navbar-brand {
  font-size: 35px;
  font-weight: 700;
}

#top-section #nav li.nav-item a.nav-link {
  padding-right: 15px;
  padding-left: 15px;
}

#top-section #nav .dropdown-menu {
  background: #100C31;
  border-radius: 15px;
}

#top-section #nav .dropdown-menu::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #100C31;
  position: absolute;
  top: -10px;
  left: 82px;
}

@media (max-width: 992px) {
  #top-section #nav .dropdown-menu::after {
    display: none;
  }
}

#top-section #nav .dropdown-menu .dropdown-item:focus, #top-section #nav .dropdown-menu .dropdown-item:hover {
  background: #211b57;
}

#top-section #nav .dropdown-menu li a {
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#top-section #nav .dropdown-menu li a .icon {
  margin-right: 12px;
}

#top-section #nav .menu-button {
  width: 32px;
  cursor: pointer;
}

#top-section #nav .white-paper {
  position: relative;
}

@media (max-width: 992px) {
  #top-section #nav {
    padding: 25px 18px;
  }
  #top-section #nav a.navbar-brand {
    font-size: 26px;
    width: 100%;
  }
}

#top-section .section-content {
  background-image: url("../images/top-section-bg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 780px;
  height: 687px;
  margin-top: calc(calc(100vh - 200px) / 2);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#top-section .section-content .title {
  font-weight: 700;
  font-size: 55px;
  width: 550px;
  padding-top: 95px;
}

#top-section .section-content .description {
  font-weight: 500;
  font-size: 18px;
  width: 454px;
  margin-top: 24px;
}

#top-section .section-content .controller {
  margin-top: 50px;
}

#top-section .section-content .controller img {
  margin-right: 25px;
}

#top-section .section-content .controller button {
  margin-right: 33px;
}

@media (max-width: 992px) {
  #top-section .section-content {
    height: auto;
    margin-top: 0;
    -webkit-transform: none;
            transform: none;
    background-size: 100%;
    background-position: top center;
    padding-top: calc(100vw - 60px);
  }
  #top-section .section-content .title {
    width: auto;
    font-size: 34px;
    padding-top: 0;
  }
  #top-section .section-content .description {
    width: auto;
  }
}

.btn-white-paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 28px;
  background: linear-gradient(90.25deg, #088af7 4.3%, #1ab1e7 99.85%);
  border-radius: 100px;
  color: #fff;
  border: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.btn-white-paper:hover {
  background: linear-gradient(90.25deg, #088af7 100%, #1ab1e7 100%);
  color: #fff;
}

#about-us .section-title,
#main-features .section-title,
#our-products .section-title,
#other-features .section-title,
#token-details .section-title,
#token-distribution .section-title,
#tokenomics .section-title,
#process .section-title,
#our-investors .section-title,
#team-members .section-title,
#advisors .section-title,
#get-it-touch .section-title {
  margin-left: 53px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

#about-us .section-title::before,
#main-features .section-title::before,
#our-products .section-title::before,
#other-features .section-title::before,
#token-details .section-title::before,
#token-distribution .section-title::before,
#tokenomics .section-title::before,
#process .section-title::before,
#our-investors .section-title::before,
#team-members .section-title::before,
#advisors .section-title::before,
#get-it-touch .section-title::before {
  content: '';
  width: 43px;
  height: 3px;
  background: linear-gradient(90.25deg, #088af7 4.3%, #1ab1e7 99.85%);
  position: absolute;
  top: calc(50% - 3px);
  left: -53px;
}

#about-us h3.title,
#main-features h3.title,
#our-products h3.title,
#other-features h3.title,
#token-details h3.title,
#token-distribution h3.title,
#tokenomics h3.title,
#process h3.title,
#our-investors h3.title,
#team-members h3.title,
#advisors h3.title,
#get-it-touch h3.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  margin-top: 19px;
}

@media (max-width: 992px) {
  #about-us h3.title,
  #main-features h3.title,
  #our-products h3.title,
  #other-features h3.title,
  #token-details h3.title,
  #token-distribution h3.title,
  #tokenomics h3.title,
  #process h3.title,
  #our-investors h3.title,
  #team-members h3.title,
  #advisors h3.title,
  #get-it-touch h3.title {
    font-size: 26px;
    margin-top: 10px;
  }
}

#about-us {
  margin-bottom: 150px;
}

#about-us img.section-img {
  width: 595px;
}

#about-us h3.title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  line-height: 50px;
  width: 497px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  #about-us {
    margin-top: 75px;
    margin-bottom: 73px;
  }
  #about-us img.section-img,
  #about-us h3.title {
    width: 100%;
    font-size: 26px;
    margin-top: 0px;
  }
  #about-us .content {
    margin-top: 60px;
  }
}

#main-features {
  background: radial-gradient(40% 57.69% at 50% 50%, rgba(18, 9, 103, 0.5) 0%, rgba(4, 0, 39, 0) 100%);
}

#main-features .features {
  margin-top: 85px;
}

#main-features .features .feature img.feature-img {
  margin-bottom: 40px;
  width: 72px;
}

#main-features .features .feature h5.feature-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}

#main-features .features .feature p.feature-description {
  width: 255px;
  text-align: center;
  margin-top: 11px;
}

@media (max-width: 768px) {
  #main-features {
    background: radial-gradient(57.69% 57.69% at 50% 50%, rgba(18, 9, 103, 0.3) 23.96%, rgba(4, 0, 39, 0) 100%);
  }
  #main-features .features {
    margin-top: 36px;
  }
  #main-features .features .feature {
    margin-top: 41px;
  }
  #main-features .features .feature:nth-child(1) {
    margin-top: 0;
  }
  #main-features .features .feature img.feature-img {
    margin-bottom: 26px;
  }
}

#our-products {
  height: 900px;
  background-image: url(../images/our-products-section-bg.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 100px;
}

#our-products .section-content {
  margin-top: 130px;
}

#our-products .section-content .our-products-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  width: 1050px;
  margin-right: auto;
  margin-left: auto;
}

#our-products .section-content .our-products-items:nth-child(2) {
  width: 1150px;
}

#our-products .section-content .our-products-items .our-products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#our-products .section-content .our-products-items .our-products-item .item-content {
  text-align: left;
  margin-left: 20px;
}

#our-products .section-content .our-products-items .our-products-item .item-content:nth-child(1) {
  text-align: right;
  margin-right: 20px;
}

#our-products .section-content .our-products-items .our-products-item .item-content h5.title {
  font-weight: bold;
  font-size: 22px;
}

#our-products .section-content .our-products-items .our-products-item .item-content p.description {
  font-size: 15px;
  line-height: 22.5px;
}

@media (max-width: 992px) {
  #our-products {
    background-image: none;
    height: auto;
  }
  #our-products .our-products-items-mobile {
    margin-top: 100vw;
  }
  #our-products .section-content {
    background-image: url(../images/our-products-section-bg.png);
    background-size: 180vw;
    background-position: center center;
    margin-top: 52px;
    background-repeat: no-repeat;
  }
  #our-products .section-content .our-products-items {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  #our-products .section-content .our-products-items:nth-child(2) {
    width: auto;
  }
}

#other-features .section-content,
#benefits .section-content {
  margin-top: 57px;
  height: 350px;
}

#other-features .section-content .item,
#benefits .section-content .item {
  padding: 42px;
  background: #100c31;
  border-radius: 20px;
  width: 281px;
  height: 300px;
  position: relative;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#other-features .section-content .item .feature-img,
#benefits .section-content .item .feature-img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  height: 51px;
  margin-bottom: 20px;
}

#other-features .section-content .item .title,
#benefits .section-content .item .title {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#other-features .section-content .item .description,
#benefits .section-content .item .description {
  font-size: 15px;
  line-height: 22px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#other-features .section-content .item:hover,
#benefits .section-content .item:hover {
  background: #110d35;
  cursor: default;
  -webkit-box-shadow: rgba(38, 50, 85, 0.25) 0px 50px 100px -20px, rgba(139, 136, 189, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(38, 50, 85, 0.25) 0px 50px 100px -20px, rgba(139, 136, 189, 0.3) 0px 30px 60px -30px;
  height: 320px;
}

#other-features .section-content .item:hover .feature-img,
#benefits .section-content .item:hover .feature-img {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

#other-features .section-content .item:hover .title,
#benefits .section-content .item:hover .title {
  margin-top: 15px;
}

#other-features .section-content .item:hover .description,
#benefits .section-content .item:hover .description {
  margin-top: 15px;
}

@media (min-width: 721px) {
  #other-features .section-content .item,
  #benefits .section-content .item {
    margin: 10px;
  }
}

@media (max-width: 992px) {
  #other-features,
  #benefits {
    margin-top: 75px;
  }
  #other-features .section-content,
  #benefits .section-content {
    margin-top: 44px;
  }
  #other-features .section-content .item,
  #benefits .section-content .item {
    width: 100%;
  }
  #other-features .section-content .item:hover,
  #benefits .section-content .item:hover {
    height: 300px;
  }
}

#other-features .section-content .item {
  height: 280px;
}

#other-features .section-content .item:hover {
  height: 300px;
}

@media (max-width: 992px) {
  #other-features .section-content .item:hover {
    height: 280px;
  }
}

#token-details {
  background-image: url(../images/token-details-bg.jpg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 300px;
}

#token-details .section-content {
  margin-top: 40px;
}

#token-details .section-content p {
  width: 795px;
}

@media (max-width: 992px) {
  #token-details {
    background-size: 150vh;
    margin-top: 50px;
    padding-top: 150px;
  }
  #token-details h3.title {
    font-size: 30px;
    width: 320px;
    line-height: 45px;
  }
  #token-details .section-content {
    margin-top: 17px;
  }
  #token-details .section-content p {
    width: auto;
  }
}

#token-distribution {
  margin-top: 120px;
}

#token-distribution .section-content {
  margin-top: 73px;
}

#token-distribution .section-content .token-distribution-table {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 47px 30px 55px 34px;
  background: #100C31;
  border-radius: 20px;
}

#token-distribution .section-content .token-distribution-table table tr:nth-child(7) td {
  padding-top: 20px;
}

#token-distribution .section-content .token-distribution-table table tr:nth-child(7) td img {
  width: 180px;
}

#token-distribution .section-content .token-distribution-table table tr td:nth-child(1) {
  width: 180px;
  font-weight: bold;
}

#token-distribution .section-content .token-distribution-table table tr td:nth-child(2) {
  width: 250px;
}

@media (max-width: 992px) {
  #token-distribution {
    margin-top: 40px;
  }
  #token-distribution h3.title {
    font-size: 30px;
  }
  #token-distribution .section-content {
    margin-top: 15px;
  }
  #token-distribution .section-content .token-distribution-table {
    width: 100%;
    padding: 0;
    background: transparent;
    border-radius: none;
  }
  #token-distribution .section-content img {
    width: 100%;
  }
  #token-distribution .section-content .chart {
    margin-top: 50px;
  }
}

#tokenomics {
  margin-top: 75px;
}

#tokenomics .section-content {
  padding: 33px;
  background: #100c31;
  border-radius: 20px;
  margin-top: 55px;
}

#tokenomics .section-content .table-dark {
  --bs-table-bg: #100c31;
}

#tokenomics .section-content .table-dark thead tr,
#tokenomics .section-content .table-dark tbody tr {
  width: 100%;
  border-color: rgba(255, 255, 255, 0.2);
}

#tokenomics .section-content .table-dark thead tr td,
#tokenomics .section-content .table-dark thead tr th,
#tokenomics .section-content .table-dark tbody tr td,
#tokenomics .section-content .table-dark tbody tr th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
}

#tokenomics .section-content .table-dark thead tr th {
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
}

#tokenomics .section-content .table-dark tbody tr td:nth-child(1) {
  font-weight: bold;
}

@media (max-width: 992px) {
  #tokenomics .section-content {
    padding: 16px;
  }
  #tokenomics .tokennomics-content .btn.dropdown-toggle, #tokenomics .vesting-schedule-content .btn.dropdown-toggle {
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    text-align: left;
    position: relative;
    padding: 14px 26px;
    background-color: transparent;
    outline: none;
  }
  #tokenomics .tokennomics-content .btn.dropdown-toggle[aria-expanded="false"], #tokenomics .vesting-schedule-content .btn.dropdown-toggle[aria-expanded="false"] {
    background-color: #1C1A35;
  }
  #tokenomics .tokennomics-content .btn.dropdown-toggle[aria-expanded="true"]::after, #tokenomics .vesting-schedule-content .btn.dropdown-toggle[aria-expanded="true"]::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #tokenomics .tokennomics-content .btn.dropdown-toggle::after, #tokenomics .vesting-schedule-content .btn.dropdown-toggle::after {
    position: absolute;
    right: 25px;
    top: 28px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #tokenomics .tokennomics-content .btn.dropdown-toggle:focus, #tokenomics .vesting-schedule-content .btn.dropdown-toggle:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #tokenomics .tokennomics-content .collapse ul, #tokenomics .tokennomics-content .collapsing ul, #tokenomics .vesting-schedule-content .collapse ul, #tokenomics .vesting-schedule-content .collapsing ul {
    margin-top: 20px;
  }
  #tokenomics .tokennomics-content .collapse ul li, #tokenomics .tokennomics-content .collapsing ul li, #tokenomics .vesting-schedule-content .collapse ul li, #tokenomics .vesting-schedule-content .collapsing ul li {
    margin-top: 10px;
    font-size: 15px;
  }
  #tokenomics .tokennomics-content .collapse ul li span, #tokenomics .tokennomics-content .collapsing ul li span, #tokenomics .vesting-schedule-content .collapse ul li span, #tokenomics .vesting-schedule-content .collapsing ul li span {
    font-weight: 600;
  }
  #tokenomics .vesting-schedule-content {
    margin-top: 20px;
  }
}

#benefits {
  margin-top: 90px;
}

#benefits h3.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  margin-top: 19px;
  width: 787px;
}

#benefits .sub-title {
  font-size: 18px;
  line-height: 27px;
  width: 905px;
  margin-top: 14px;
}

@media (max-width: 992px) {
  #benefits {
    margin-top: 70px;
  }
  #benefits h3.title {
    font-size: 26px;
    line-height: 38px;
  }
  #benefits h3.title,
  #benefits .sub-title {
    width: 100%;
  }
}

#process {
  margin-top: 140px;
}

#process .main-timeline-section {
  position: relative;
  width: 100%;
  margin: auto;
}

#process .main-timeline-section .timeline-start,
#process .main-timeline-section .timeline-end {
  background: linear-gradient(90.25deg, #088af7 4.3%, #1ab1e7 99.85%);
  border-radius: 100px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

#process .main-timeline-section .conference-center-line {
  position: absolute;
  width: 6px;
  height: 100%;
  top: 70px;
  left: calc(50% - 2px);
  margin-left: -2px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(4.71%, rgba(255, 255, 255, 0.03)), color-stop(100.02%, rgba(255, 255, 255, 0.3)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.03) 4.71%, rgba(255, 255, 255, 0.3) 100.02%);
  z-index: -1;
}

#process .timeline-article {
  width: 100%;
  position: relative;
  margin: 40px 0px;
  min-height: 135px;
  z-index: 0;
}

#process .timeline-article .content-date {
  position: absolute;
  top: 33%;
  left: 50%;
  font-size: 18px;
  margin-left: -150px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

#process .timeline-article .meta-date {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: -11px;
  border-radius: 100%;
  background: linear-gradient(90.25deg, #088af7 4.3%, #1ab1e7 99.85%);
}

#process .timeline-article .content-box {
  position: absolute;
  background: #100c31;
  border-radius: 20px;
  width: 40%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  margin-left: 50px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#process .timeline-article .content-box .date {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  width: 200px;
  color: #088af7;
  background: -webkit-linear-gradient(0deg, #088af7, #1ab1e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#process .timeline-article .content-box .content .title {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
}

#process .content-left-container .content-box {
  left: 5%;
  margin-left: 0px;
}

#process .content-left-container .content-date {
  margin-left: 50px;
}

@media (max-width: 992px) {
  #process {
    margin-top: 90px;
  }
  #process .main-timeline-section .conference-center-line {
    left: 10px;
    top: 0;
  }
  #process .timeline-article {
    min-height: 220px;
    margin-bottom: 60px;
  }
  #process .timeline-article .meta-date {
    left: 3%;
    top: 8%;
  }
  #process .timeline-article .content-box {
    left: 10%;
    width: 80%;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #process .timeline-article .content-box .date {
    text-align: left;
  }
  #process .timeline-article .content-box p {
    overflow: hidden;
  }
}

#our-investors {
  margin-top: 150px;
  background: radial-gradient(57.69% 57.69% at 50% 50%, rgba(18, 9, 103, 0.3) 23.96%, rgba(4, 0, 39, 0) 100%);
}

#our-investors .section-content {
  margin-top: 80px;
}

#our-investors .section-content .item .investor-name {
  margin-top: 25px;
  font-size: 18px;
}

#team-members {
  margin-top: 120px;
}

#team-members .section-content {
  margin-top: 45px;
  height: 400px;
}

#team-members .section-content .member {
  padding: 25px 5px;
  border-radius: 30px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

#team-members .section-content .member:hover {
  background: #100C31;
  -webkit-box-shadow: 0px 0px 5px 0px #4e4e4e;
          box-shadow: 0px 0px 5px 0px #4e4e4e;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

#team-members .section-content .member:hover .position {
  font-weight: bold;
}

#team-members .section-content .member:hover .member-img {
  width: 240px;
  height: 240px;
}

#team-members .section-content .member .member-img {
  width: 212px;
  height: 212px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

#team-members .section-content .member .member-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  background: -webkit-linear-gradient(0deg, #088af7, #1ab1e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 36px;
  margin-bottom: 0;
}

#team-members .section-content .member .position {
  font-size: 18px;
  line-height: 27px;
  margin-top: 7px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

#advisors {
  margin-top: 90px;
}

#advisors .section-content {
  margin-top: 45px;
}

#advisors .section-content .advisor {
  padding: 25px 25px;
  border-radius: 30px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  height: 300px;
  width: 20%;
}

#advisors .section-content .advisor:hover {
  background: #100C31;
  -webkit-box-shadow: 0px 0px 5px 0px #4e4e4e;
          box-shadow: 0px 0px 5px 0px #4e4e4e;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

#advisors .section-content .advisor:hover .position {
  font-weight: bold;
}

#advisors .section-content .advisor:hover .advisor-img {
  width: 180px;
  height: 180px;
}

#advisors .section-content .advisor .advisor-img {
  width: 160px;
  height: 160px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

#advisors .section-content .advisor .advisor-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  background: -webkit-linear-gradient(0deg, #088af7, #1ab1e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

@media (max-width: 992px) {
  #advisors .section-content .advisor {
    width: auto;
  }
}

#messages {
  margin-top: 100px;
}

#messages .section-content .title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}

#messages .section-content img {
  width: 90%;
}

@media (max-width: 992px) {
  #messages .section-content .charity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #messages .section-content .title {
    font-size: 36px;
  }
}

#messages .section-content .message {
  font-size: 16px;
  line-height: 24px;
}

#messages .section-content .hiring {
  margin-top: 25px;
}

#get-it-touch {
  margin-top: 125px;
}

#get-it-touch h3.title {
  font-size: 36px;
}

#get-it-touch .section-content .input-group {
  width: 600px;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
}

#get-it-touch .section-content .input-group .form-control {
  border-radius: 50px;
  background-color: #100c31;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
}

#get-it-touch .section-content .input-group .btn-white-paper {
  margin-left: -100px;
  z-index: 1000;
  height: 57px;
  display: block;
}

@media (max-width: 992px) {
  #get-it-touch {
    margin-top: 72px;
  }
  #get-it-touch .section-content .input-group {
    width: auto;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/footer-bg.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .logo {
  width: 100px;
}

footer .footer-nav ul,
footer .footer-sub-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-nav ul li,
footer .footer-sub-nav ul li {
  margin-right: 10px;
  margin-left: 10px;
}

footer .footer-nav ul li a,
footer .footer-sub-nav ul li a {
  text-decoration: none;
}

footer .footer-nav ul li a:hover,
footer .footer-sub-nav ul li a:hover {
  text-decoration: underline;
}

footer .footer-nav {
  margin-top: 73px;
}

footer .footer-nav ul li a {
  color: #fff;
}

footer .footer-sub-nav ul li a {
  color: #1ab1e7;
}

footer .channels {
  margin-bottom: 100px;
  margin-top: 56px;
}

footer .channels img {
  margin-left: 16px;
  margin-right: 16px;
}

@media (max-width: 992px) {
  footer {
    background-size: 150%;
    background-position: bottom right;
  }
  footer .footer-nav ul,
  footer .footer-sub-nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .channels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 260px;
  }
  footer .channels a:nth-child(5), footer .channels a:nth-child(6), footer .channels a:nth-child(7) {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    background: #050221;
    position: fixed;
    top: 0;
    right: 0px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 90%;
    height: 100%;
    z-index: 9999;
    padding-top: 40px;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
  }
  .navbar-collapse .navbar-brand {
    margin-bottom: 40px;
  }
  .navbar-collapse .dropdown-menu.show {
    background: transparent !important;
  }
  .navbar-collapse.collapsing {
    right: -75%;
    -webkit-transition: height 0s ease;
    transition: height 0s ease;
  }
  .navbar-collapse.show {
    right: 0px;
    -webkit-transition: right 300ms ease-in-out 0s;
    transition: right 300ms ease-in-out 0s;
  }
  .navbar-toggler.collapsed ~ .navbar-collapse {
    -webkit-transition: right 500ms ease-in-out;
    transition: right 500ms ease-in-out;
  }
  .navbar-collapse.closing {
    display: block;
    right: -100%;
  }
}

.close-icon {
  background: url("../images/close.svg") no-repeat;
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 60px;
  right: 20px;
  z-index: 10000;
  display: none;
}

@media (max-width: 992px) {
  .close-icon {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */